/Library
/Logs
/Temp
/UserSettings
/.vs
.vs/HappyFarm/FileContentIndex/10a40273-3716-44a6-b2ad-cc555e309fbd.vsidx
.vs/HappyFarm/FileContentIndex/3903b41e-0d7f-4576-9aeb-e86354e76626.vsidx
ProjectSettings/ProjectVersion.txt
Packages/packages-lock.json
Assembly-CSharp.csproj
